.pagination{
    display: table;
    margin: 0 auto !important;
    padding: 20px 0 0 0 !important;
}

.main-container{
    text-align: center initial;
    background: #ececec;
    padding: 30px;
    max-width: 1400px;
    min-height: 100vh;
    margin: auto;
}